<style>
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
</style>
<div style="margin-bottom:100px;" class="bg-gray-50 flex justify-center">
    <div style="width:450px; height:2089px;" class="bg-white mt-24 rounded-xl border-l border-b border-t">
        <div class="ml-8 mt-24 font-serif font-black" style="font-family: 'Nanum Pen Script', cursive; font-size:75px; color:black;">
            임원진 각오
        </div>
        <div style="font-size:22px; width:370px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-600 mt-3 ml-8">
            애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅애니악 화이팅 
        </div>
    </div>
    <div style="width:850px; height:2000px;" class="mt-24 bg-white">
        <div class="w-full flex flex-wrap rounded-xl border-r border-b border-t">
            <div style="width:402px; height:570px;" class="mt-24"  >
                
                <div style="width:380px; height:270px;" class=" rounded-xl border">
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-900 px-1 mt-4">
                    권혁준
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-purple-500 px-1">
                    Aniac 회장
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-500 px-1 mt-3">
                    선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다애니악을 위해 최선을 다하겠습니다 
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="py-1 text-gray-500 px-1">
                    Tel. 010-6207-7206
                </div>
            </div>
            <div style="width:402px; height:570px;" class="mt-24"  >
                
                <div style="width:380px; height:270px;" class=" rounded-xl border">
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-900 px-1 mt-4">
                    윤대현
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-purple-500 px-1">
                    전산 부장
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-500 px-1 mt-3">
                     애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다애니악을 위해 최선을 다하겠습니다 
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="py-1 text-gray-500 px-1">
                    Tel. 010-6207-7206
                </div>
            </div>
            <div style="width:402px; height:600px;" class=""  >
                
                <div style="width:380px; height:270px;" class=" rounded-xl border">
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-900 px-1 mt-4">
                    박승우
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-purple-500 px-1">
                    학술부장
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-500 px-1 mt-3">
                    애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다애니악을 위해 최선을 다하겠습니다 
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="py-1 text-gray-500 px-1">
                    Tel. 010-6207-7206
                </div>
            </div>
            <div style="width:402px; height:600px;" class=""  >
                
                <div style="width:380px; height:270px;" class=" rounded-xl border">
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-900 px-1 mt-4">
                    이고운
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-purple-500 px-1">
                    기획부장
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-500 px-1 mt-3">
                    애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다애니악을 위해 최선을 다하겠습니다 
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="py-1 text-gray-500 px-1">
                    Tel. 010-6207-7206
                </div>
            </div>
            <div style="width:402px; height:600px;" class=""  >
                
                <div style="width:380px; height:270px;" class=" rounded-xl border">
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-900 px-1 mt-4">
                    이시현
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-purple-500 px-1">
                    총무부장
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="text-gray-500 px-1 mt-3">
                    애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다 애니악을 위해 최선을 다하겠습니다애니악을 위해 최선을 다하겠습니다 
                </div>
                <div style="font-size:22px; font-family: 'Nanum Pen Script', cursive;" class="py-1 text-gray-500 px-1">
                    Tel. 010-6207-7206
                </div>
            </div>
        </div>
    </div>
</div>