{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content%}
    
    <img src = "{{price.image.url}}" class="w-full h-50vh mt-10 container mx-auto rounded-xl bg-cover bg-center"> 
    <h1>{{price.title}}</h1>
    <h2>{{price.person}}</h2>
    <h3>{{price.category}}</h3>


    <div class="container mx-auto flex justify-around pb-56">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div>
                    <span class="text-3xl font-medium mb"></span>
                </div>

            </div>
        </div>
    </div>





{% endblock %} 

