<h2>
    <a href="{% url "price:detail" price.pk %}"> 
        <img class="bg-cover bg-center  rounded-xl px-3 mr-8 w-full h-50vh mt-10 container mx-auto " src = "{{price.image.url}}" > 
        <div class="bg-cover bg-center mb-10
        px-3 mr-8">
            <div>
                <span class="text-xs align-middle overflow-hidden">
                {{price.title}}
            </span>
            </div>
            <span>
                {{price.person}}
            </span>
        </div>
    
    </a>  
    </h2>

