{% extends 'base.html' %}
{% block content %}
    <div class = "container mx-auto mt-100">
        <script src="https://kit.fontawesome.com/53f56d64cb.js" crossorigin="anonymous"></script>
      
 
 
        <div class="mt-5 flex flex-wrap ml-4">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_pre_number}}"><i class="fas fa-chevron-left fa-3x mt-24"></i></a>
        {% endif %}
           
            {% for price in object_list %}
             {% include 'prices/penal_card.html' with i=price %}
        {% endfor %}   
    

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}"><i class="fas fa-chevron-right fa-3x mt-24"></i></a>
    {% endif %}
        </div>
        
    </div>

{% endblock content %}