{% extends 'base.html' %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
</style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');  
  </style>


<div class="text-center mt-10">
    <div class="title" style="font-family: 'Gothic A1', sans-serif; font-size:37px;" class="text-black font-bold">
      질문
    </div>
    <div style="font-family: 'Gothic A1', sans-serif; font-size:20px; font-weight:500;" class="font-bold text-gray-400 mt-6">
      무엇이든   질문해보세요!
    </div>
  </div>

<div style="font-family: 'Gothic A1', sans-serif; margin-top:45px; margin-bottom:10px; margin-right:200px;" class="text-gray-400 flex justify-end ">
    *사진은 되도록 규격에 맞춰 올려서주세요
  </div>

<div stlye="width:2000px;" class="flex justify-center " >
    <div class="flex flex-wrap w-11/12 justify-center ">
        {% for OpenSource in opensources %}
        {% if OpenSource.error_signal  %}
        <div style=" height:420px; width:322px;" class="bg-yellow-50 border mt-10 ml-3 text-center shadow-xl transform hover:scale-110 motion-reduce:transform-none">
        <a href="{% url "opensource:detail" OpenSource.pk %}" class="">
            <div style="overflow:hidden; word-wrap:break-word;" class="{% if OpenSource.error_signal %}bg-pink-100 {% endif %}py-7 px-8 width-full h-3/4 {% if OpenSource.error_signal %}bg-pink-50{% endif %} border border-yellow-200">
                {{OpenSource.explain_situation}}
            </div>
            <div style="font-size:20px; font-family: 'Gothic A1', sans-serif;" class="{% if OpenSource.error_signal %}text-pink-400 bg-pink-100{% endif %} font-bold text-black h-1/4">
                <div>
                    {{OpenSource.OpenSource_host.name}}
                </div>
                <div class="mt-1 flex justify-end mr-3" >
                    {% for Lang in OpenSource.code_Language.all %}
                        <span style="font-size:20px;" class="border py-1 px-2 text-white bg-purple-400 rounded-xl">
                            {{Lang}}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </a>
        </div>
    {% endif %}
    {% endfor %}
        {% for OpenSource in opensources %}
    {% if not OpenSource.error_signal %}

            <div style=" height:420px; width:322px;" class="bg-yellow-50 border mt-10 ml-3 text-center shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
            <a href="{% url "opensource:detail" OpenSource.pk %}" class="">
                <div style="overflow:hidden; word-wrap:break-word;" class="{% if OpenSource.error_signal %}bg-pink-100 {% endif %}py-7 px-8 width-full h-3/4 {% if OpenSource.error_signal %}bg-pink-50{% endif %} border border-yellow-200">
                    {{OpenSource.explain_situation}}    
                </div>
                <div style="font-size:20px; font-family: 'Gothic A1', sans-serif;" class="{% if OpenSource.error_signal %}text-pink-400 bg-pink-100{% endif %} font-bold text-black h-1/4">
                    <div>
                        {{OpenSource.OpenSource_host.name}}
                    </div>
                    <div class="mt-1 flex justify-end mr-3" >
                        {% for Lang in OpenSource.code_Language.all %}
                            <span style="font-size:20px;" class="border py-1 px-2 text-white bg-purple-400 rounded-xl">
                                {{Lang}}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </a>
            </div>
        {% endif %}
        {% endfor %}

    </div>
</div>


    {% endblock content%}