<!-- <h2>
    <a> 
     
       <div class="bg-cover bg-center mb-10
       px-3 mr-8">
           <div>
               <span class="text-xs align-middle overflow-hidden">
               {{study.memeber}}
           </span>
           </div>
           <span>
               {{study.leader}}
           </span>
       </div>
   
   </a>   

   </h2>
 -->
 <div class="flex-1">
    <div>
        <img style="background-image: url({{abc.get_photo_url}}); height: 400px; width: 450px; background-size:cover; background-position: center; center;border-radius:15px; " class="border rounded-2xl"> 
    </div>
    <div class="mb-4">
        <h2 class="text-base font-medium "> {{abc.title }}</h4>
            <h3 class="mt-2 font-hairline text-xl text-grey-darker"></h3>
            {{abc.category}}
            <span class="w-3 h-3 text-white inline-block text-center rounded-full bg-grey-dark text-2xs">&#10003;</span>
        </p>
        <p class="mt-1 font-hairline text-xs text-grey-darker">
            
        </p>
        <p class="mt-1 font-hairline text-base text-grey-darker">
            {{abc.개발자}}
        </p>
    </div>
</div>


    