<!-- <h2>
    <a> 
     
       <div class="bg-cover bg-center mb-10
       px-3 mr-8">
           <div>
               <span class="text-xs align-middle overflow-hidden">
               {{study.memeber}}
           </span>
           </div>
           <span>
               {{study.leader}}
           </span>
       </div>
   
   </a>   

   </h2>
 -->
 



 <div class="max-w-xs w-full">
    <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 flex items-center justify-center h-56 bg-white border-b-8 border-teal-400 rounded-md overflow-hidden">
        <img class=" object-cover h-8 " style="background-image: url({{abc.get_photo_url}}); height: 400px; width: 400px; background-size:cover; background-position: center; border-radius:15px;  ">
    </div>

    <a href="#" class="block bg-gray-700 mt-5 rounded-md overflow-hidden ">
        <div class="py-2 px-3 text-center text-sm">
            <p class="text-gray-300">{{abc.title }}</p>
            <!— <span class="block text-gray-500 mt-2">   {{abc.explain}}</span> —>
            <span class="block text-gray-500 mt-2">   {{abc.개발자}}</span>
        </div>
    </a>
</div>