{% extends 'base.html' %}


{% block content %}
<!-- 
<div style="margin-top:600px;" class="w-full fixed flex justify-end">[]
    <a href="{% url 'doit:create' %}" style="width:200px; line-height:200px; font-size:20px; height:200px; margin-right:55px" class="bg-white text-center hover:bg-blue-50 border-black border shadow-xl text-gray-700 rounded-full">
        개발작품올리기
    </a>
</div> -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');  
  </style>
  <div class="mt-8 flex justify-center">
    <div class="text-center">
      <div id="font_a" style="font-family: 'Gothic A1', sans-serif; " class="text-black font-bold">
        개발작품
      </div>
      <div id="font_b" style="font-family: 'Gothic A1', sans-serif; font-weight:500;" class="font-bold text-gray-400 mt-6">
        에니악 회원님들의 개발작품입니다!
      </div>
    </div>
  </div>

  
 


</div>
    <div class = "container mx-auto">
        
        
        <script src="https://kit.fontawesome.com/53f56d64cb.js" crossorigin="anonymous"></script>
        <div id="max" class="flex flex-wrap justify-center  " >
        {% for abc in object_list %}
            {% include 'partials/doit_card.html' with abc=abc %}
        {% endfor %}
        </div>
        <div class="flex items-center mx-auto container justify-center">
        {% if page_obj.has_previous %}
            <a class="text-teal-400" href="?page={{page_obj.previous_pre_number}}">
                <i class="fas fa-chevron-left fa-lg"></i>
            </a>
        {% endif %}
            

   
        <span class="mx-3 font-medium text-lg"> {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    
        {% if page_obj.has_next %} 
            <a href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-chevron-right fa-lg "></i> 
            </a>
        {% endif %}

            
          </div>
    
        
        
        </div>

        
            <style>
                .button {
                  display: inline-block;
                  border-radius: 4px;
                  background-color: #D8D8D8;
                  border: none;
                  color: bla;
                  text-align: center;
                  font-size: 28px;
                  padding: 20px;
                  width: 200px;
                  transition: all 0.5s;
                  cursor: pointer;
                  margin: 5px;
                }
                
                .button span {
                  cursor: pointer;
                  display: inline-block;
                  position: relative;
                  transition: 0.5s;
                }
                
                .button span:after {
                  content: '\00bb';
                  position: absolute;
                  opacity: 0;
                  top: 0;
                  right: -20px;
                  transition: 0.5s;
                }
                
                .button:hover span {
                  padding-right: 25px;
                }
                
                .button:hover span:after {
                  opacity: 1;
                  right: 0;
                }
                @media (min-width:1600px) and (max-width:2200px) {
                    .button {
                         
                        top: 50px; 
                        left:1800px; 
                            }
                            #font_b{
                        font-size: 20px;
                    }
                    #font_a{
                        font-size: 37px;
                    }
                    }
                @media (min-width:1300px) and (max-width:1600px) {
                    .button {
                         
                        top: 50px; 
                        left:1300px; 
                            }
                            #font_b{
                        font-size: 20px;
                    }
                    #font_a{
                        font-size: 37px;
                    }
                    } 
                 @media (max-width:1000px) {
                    #doit_button {
                        margin-left: 140px;

                    }
                    
                    
                    #doit_img{
                        width: 400px    ;

                        
                    }
                    #max{
                      margin-bottom: 0px;
                    }
                   
                    } 
                
                </style>
          
            
                
              
                
                
                
        
        
        
        </div>
        <!-- <div class="fixed">
            <a href="{% url 'doit:create' %}" style="top:650px; left:1450px; font-size:20px;" class="py-14 px-10 text-center hover:bg-blue-50 border-gray-50 border shadow-md relative text-gray-700 rounded-full">
                create
            </a>
        </div> -->

    
        <button id="doit_button" onclick="location.href='{% url 'doit:create' %}'" class="button  py-14 px-10 text-center  border shadow-md relative rounded-full" style="vertical-align:middle;  font-size:20px;"><span>개발작품올리기 </span></button>
   
    </div>

    
{% endblock content %}
    


    
    