{% extends 'base.html' %}

{% block content %}
<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mt-40 container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% for field in form %}
            <div class="text-sm mt-2 w-full">
                {{field.label}}
                {{field}}
                {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-red-700 font-medium text-sm">{{error}}</span>
                {% endfor %}
    {% endif %}
            </div>
        {% endfor %}
            <button class="mt-3 py-5 bg-red-500 text-white">Update Study</button>
    </div>
</form>
{% endblock %}