{% extends 'base.html' %}

{% block content%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');  }
    @media (max-width: 600px) {
    .title {
      font-size: 80px;
    }
  }
  </style>

<div class="abc mt-28 flex justify-center">
    <div class="text-center">
      <div class="title" style="font-family: 'Gothic A1', sans-serif; font-size:37px;" class="text-black font-bold">
        회원가입
      </div>
      <div style="font-family: 'Gothic A1', sans-serif; font-size:20px; font-weight:500;" class="font-bold text-gray-400 mt-6">
        에니악 홈페이지에 오신걸 환영합니다 
      </div>
    </div>
  </div>

     <div class=" container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto  flex flex-col items-center  p-6    ">
<form enctype="multipart/form-data" method="POST" action="{% url 'users:signup' %}" class="w-full" >
    
    {% csrf_token %}
    <div class="text-left rounded-sm py-3 font-light focus:outline-none text-lg w-full ">
        {{form.as_p}}
    </div>
    
     <button class="text-center rounded-sm py-3 font-light text-lg w-full bg-yellow-400">회원 가입</button>
</form>  


{% endblock content%}